@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
    color: #21243D;
}

/*
  Обертка
*/
.wrapper {
    margin: 0 auto;
    width: 856px;
}

/*
    Шапка
*/
.header {
    overflow: hidden;
}

.header ul {
    list-style: none;
    float: right;
    margin: 27px 60px 27px 0;
}

.header li {
    float: left;
    margin-left: 32px;
}

.header a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

/* Блок автор */
.author {
    margin-top: 128px;
    margin-bottom: 72px;
}

.author .wrapper {
    overflow: hidden;
}

.author__info {
    float: left;
    width: calc(100% - 243px);
    padding-right: 115px;
}

.author__avatar {
    float: right;
    width: 243px;
}

.author__avatar img {
    width: 100%;
    border-radius: 50%;
    box-shadow: -6px 6px 0px #EDF7FA;
}

.author__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 136%;
    margin-bottom: 40px;
}

.author__text {
    font-size: 16px;
    margin-bottom: 40px;
}

/*
  Кнопка
*/
.button {
    color: #fff;
    background-color: #FF6464;
    border-radius: 2px;
    display: inline-block;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/*
  Посты
*/
.posts {
    background-color: #EDF7FA;
    margin-top: 72px;
    margin-bottom: 28px;
}

.posts__header {
    overflow: hidden;
    margin-bottom: 16px;
}

.posts__title {
    float: left;
    font-size: 22px;
}

.posts__header a {
    float: right;
    text-decoration: none;
    font-size: 16px;
    color: #00A8CC;
}

.posts .wrapper {
    padding-top: 20px;
    padding-bottom: 32px;
}

.posts__cards {
    overflow: hidden;
}

.posts__card {
    width: calc(50% - 10px);
    float: left;
    margin-right: 20px;
    background-color: white;
    border-radius: 4px;
    padding: 24px;
}

.posts__card:last-child {
    margin-right: 0;
}
.posts__card-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
}
.posts__card-info {
    overflow: hidden;
    font-size: 18px;
    padding-bottom: 12px;    
}
.posts__date {
    float: left;
    border-right: 1px solid;
    padding-right: 32px;    
}
.posts__tags {
    float: left;
    padding-left: 32px;
}